 <div id="push" class="container top-content-columns">
      
      <div class="left-column">
        <div class="well">
         <%= image_tag @user.profile.avatar.url(:medium), class: 'user-show-avatar' %>
         <h1>  
                Name: <%= content_tag :span, current_user.profile.first_name, class: "first_letter_cap" %> 
                      <%= @user.profile.last_name %> <br/>
               Hometown: <%= content_tag :span, @user.profile.hometown, class: "first_letter_cap" %> </br>
               Realtionship Status: <%= content_tag :span, @user.profile.relationship_status, class: "first_letter_cap" %> 
            </h1>
      </div>
     </div>
      
      <div class="right-column">
       <div class="well">
         <h3>Who Am I?</h3>
           <%= @user.profile.description %><br/>
         Groups i Have Joined. <br/><br/>
         Who are my friends.<br/><br/>
         What I have posted. <br/><br/>
         Who I am following. <br/><br/>
         Who I like. 
         
         </div>
        </div>
      
      </div>


