    
<section ="top-content">
      <div id="push" class="container top-content-columns">
      <% if user_signed_in? %>
      
      <div class="left-column">
        <div class="well">
        <% if current_user.profile %>
       <h1> <%= content_tag :span, current_user.profile.first_name, class: "first_letter_cap" %> welcome to your Member's area.<h1> 
        Your Friends
        <%= link_to "Find More Friends", users_path, class: 'btn btn-success bnt-lg' %>
        </div>
      </div>
      
      <div class="right-column">
       <div class="well">
         <h1>Your Profile</h1> <br>
         <%= link_to "View Your Profile", user_path(current_user), class: 'btn btn-default navbar-btn'%>
        <%= link_to "Edit Your Profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default navbar-btn' %>
         <%= link_to "send us a message", new_contact_path, class: 'btn btn-default navbar-btn' %>
         <% else %>
       <%= link_to "create your profile", new_user_profile_path(current_user), class: 'btn btn-default navbar-btn' if current_user %>
      <% end %>
         </div>
        </div>
      
      </div>
      
      <div id="push" class="container top-content-columns">
      
      <div class="left-column">
        <div class="well">
       <h1>Your Groups</h1>
        </div>
      </div>
      
      <div class="right-column">
       <div class="well">
     <h1>Enter The Forum</h1>
      </div>
      </div>
      
    </div>
      
      <% else %>
        <div class="left-column"><h2>MEMBER'S WALL</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus sed odio eget convallis. 
          Quisque a consectetur tellus. 
          Donec pretium sodales felis sed pharetra. Aenean vel ex diam. Phasellus odio nibh, dignissim eget felis eu, convallis semper diam. 
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p> 
        </div>
        <div class="right-column">
            <h2>LISTINGS</h2>
          <P>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus sed odio eget convallis. 
          Quisque a consectetur tellus. 
          Donec pretium sodales felis sed pharetra. Aenean vel ex diam. Phasellus odio nibh, dignissim eget felis eu, convallis semper diam. 
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
          Mauris efficitur orci orci, a fermentum elit volutpat ac. Cras venenatis enim non enim pellentesque varius. 
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed massa mauris, 
          condimentum quis massa quis, laoreet laoreet lectus.
      Curabitur dui odio, ullamcorper volutpat mollis sed, consectetur eu lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vivamus faucibus lorem et placerat sagittis. Vivamus malesuada pharetra est, vitae luctus nunc pharetra et. Cras vehicula nisi a enim finibus, nec egestas est rhoncus. 
      Vestibulum vitae lobortis sapien. Aliquam consequat vestibulum magna id condimentum. Vestibulum vel eros nunc. Mauris purus turpis, mollis nec sem semper, lobortis malesuada sem. 
      Curabitur nec commodo metus, vel euismod purus. 
      Ut quis odio vitae purus placerat lobortis vel ut ex. Praesent dui nisl, finibus nec urna lacinia, maximus volutpat lorem. Nullam sed tortor semper, elementum elit sed, ultricies sapien.
      </p>
      </div>
     </div>
    <% end %>
</section>
  